<div class="table-container">

    <table mat-table [dataSource]="dataSource"  *ngIf="CPUPlayer.properties.length != 0; else noProperties">
      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef>Property</th>
        <td mat-cell *matCellDef="let property"> {{property.name}} </td>
      </ng-container>

      <ng-container matColumnDef="nbHouses" >
        <th mat-header-cell *matHeaderCellDef> Houses </th>
        <td mat-cell *matCellDef="let property"> {{property.nbHouses}} </td>
      </ng-container>

      <ng-container matColumnDef="propertyPrice" >
        <th mat-header-cell *matHeaderCellDef> Property Price </th>
        <td mat-cell *matCellDef="let property"> {{property.propertyPrice}} </td>
      </ng-container>
      
      <ng-container matColumnDef="rentPrice">
        <th mat-header-cell *matHeaderCellDef>Rent Price</th>
        <ng-container *matCellDef="let property">
          <td mat-cell *ngIf="property.isCity()">${{property.rentPrices[property.nbHouses]}}</td>
          <td mat-cell *ngIf="!property.isCity()">${{property.rentPrices[player.nbAirports]}}</td>
          <td mat-cell *ngIf="property.isMortgaged">(Mortgaged)</td>
        </ng-container>
      </ng-container>

      <ng-container matColumnDef="deal" >
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let property"><button mat-button *ngIf="!property.isCity() || (property.isCity() && property.nbHouses == 0)" (click)="openDealDialog(property)">Propose Deal</button></td>

      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>           
    </table>
    <ng-template #noProperties>{{CPUPlayer.name}} doesn't have any property yet.</ng-template>
  </div> 