
<div class="container">
    <div class="row">
      <board class="board"></board>
      <div class="right-side">
        <p style="text-align: center;">Your balance : ${{player.balance}}</p>
        <button mat-button *ngIf="player.isPlayerTurn" color="primary" (click)="rollDice(player)" >Roll dice !</button>
        <button mat-button *ngIf="displayBuyPropertyButton() && player.isPlayerTurn" (click)="buyProperty(player)">Buy property !</button>
        <button mat-button *ngIf="canHumanEndTurn" (click)="endTurn(player)">End turn</button>
        <button mat-button *ngIf="player.nbTurnsInJail > 0 && player.isPlayerTurn" (click)="playerGetFree(player)">Get free for $1000</button>

          <div class="table-container">

            <table mat-table [dataSource]="dataSource"  *ngIf="player.properties.length != 0; else noProperties">
              <ng-container matColumnDef="name" sticky>
                <th mat-header-cell *matHeaderCellDef>Property</th>
                <td mat-cell *matCellDef="let property"> {{property.name}} </td>
              </ng-container>

              <ng-container matColumnDef="nbHouses" >
                <th mat-header-cell *matHeaderCellDef> Houses </th>
                <td mat-cell *matCellDef="let property"> {{property.nbHouses}} </td>
              </ng-container>
              
              <ng-container matColumnDef="rentPrice">
                <th mat-header-cell *matHeaderCellDef>Rent Price</th>
                <ng-container *matCellDef="let property">
                  <td mat-cell *ngIf="property.isCity()">${{property.rentPrices[property.nbHouses]}}</td>
                  <td mat-cell *ngIf="!property.isCity()">${{property.rentPrices[player.nbAirports]}}</td>
                  <td mat-cell *ngIf="property.isMortgaged">(Mortgaged)</td>
                </ng-container>
                <ng-template #issi>
                  <ng-container *matCellDef="let property">
                    <td mat-cell>${{property.rentPrices[2]}}</td>
                  </ng-container>
                </ng-template>
              </ng-container>


              <ng-container matColumnDef="buyHouse" >
                <th mat-header-cell *matHeaderCellDef></th>
                <ng-container *matCellDef="let property">
                  <td mat-cell *ngIf=(property.isHouseBuyable)><button mat-mini-fab color="success" class="success" (click)="buyHouse(property)" ><span class="material-icons">home</span>
                  </button></td>
                </ng-container>
              </ng-container>

              <ng-container matColumnDef="removeHouse" >
                <th mat-header-cell *matHeaderCellDef></th>
                <ng-container *matCellDef="let property">
                  <td mat-cell *ngIf="property.nbHouses > 0"><button mat-mini-fab color="warn" (click)="removeHouse(property)" ><span class="material-icons">home</span>
                  </button></td>
                </ng-container>
              </ng-container>

              <ng-container matColumnDef="mortgage" >
                <th mat-header-cell *matHeaderCellDef></th>
                <ng-container *matCellDef="let property">
                  <td mat-cell *ngIf=(property.isMortgageable)><button mat-button color="warn" (click)="mortgageProperty(property)" >Mortgage
                  </button></td>
                </ng-container>
              </ng-container>

              <ng-container matColumnDef="removeMortgage" >
                <th mat-header-cell *matHeaderCellDef></th>
                <ng-container *matCellDef="let property">
                  <td mat-cell *ngIf=(property.isMortgaged)><button mat-button class="success" (click)="removeMortgage(property)" >Remove
                  </button></td>
                </ng-container>
              </ng-container>   
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>           
            </table>
            <ng-template #noProperties>Ths</ng-template>
          </div> 
          <p>Dice Value : {{diceValue}}</p>
          <p>Nb turn in JAIL : {{player.nbTurnsInJail}}</p>
           
      </div>
      
    </div>
    
    
  </div>
  