
<div class="container">
    <div class="row">
      <div class="col-sm-8">
        <board></board>
      </div>
      <div class="col-sm-2">
        <p>Player position : {{player.position}}</p>
        <p>Player balance : {{player.balance}}</p>
        <p>Player properties :</p>
      
          <div>
            <table>
              <thead>
                <th>Property</th>
                <th>Houses</th>
                <th>Rent price</th>
                <th></th>
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor="let property of player.properties">
                  <td>{{property.name}}</td>
                  <td>{{property.nbHouses}}</td>
                  <td *ngIf="!property.isMortgaged; then rentPrice else displayIsMortgaged"></td>
                  <ng-template #rentPrice>${{property.rentPrices[property.nbHouses]}}</ng-template>
                  <ng-template #displayIsMortgaged>Mortgaged</ng-template>
                  <td><button *ngIf=(property.isHouseBuyable) (click)="buyHouse(property)">Buy house !</button></td>
                  <td><button *ngIf="property.nbHouses > 0 " (click)="removeHouse(property)">Remove house !</button></td>
                  <td><button *ngIf=(property.isMortgageable) (click)="mortgageProperty(property)">Mortgage !</button></td>
                  <td><button *ngIf=(property.isMortgaged) (click)="removeMortgage(property)">Remove Mortgage !</button></td>


                </tr>
              </tbody>
              
            </table>
          </div>          
        <button (click)="rollDice()">Roll dice !</button>
        <button *ngIf="displayBuyPropertyButton()" (click)="humanPlayerBuyProperty()">Buy property !</button>

      </div>
    </div>
  </div>
  