table {
    width: 450px;
}

.board{ 
    position: fixed; 
    left: 5px;
}

.right-side {
    position: fixed; 
    right: 60px;
}
.table-container {
    max-height: 250px;
    overflow: auto;
}

.success {
    color: green;
}

.tiersquare {
    width: 14px;
    height: 14px;
}

img {
    width: 14px;
    height: 14px;
}