<table>
    <tr>
        <td #square14><p style="font-size: 10px;">Banff Holidays</p><img src="assets/img/mountain.png"></td>
        <td #square15><p style="font-size: 10px;">Montreal</p><p style="font-size: 10px;">$4500</p><div class="tier5-montreal"></div></td>
        <td #square16><p style="font-size: 10px;">Saskatoon</p><p style="font-size: 10px;">$5000</p><div class="tier4"></div></td>
        <td #square17><p style="font-size: 10px;">Winnepeg</p><p style="font-size: 10px;">$5500</p><div class="tier4"></div></td>
        <td #square18><p style="font-size: 10px;">Calgary Airport</p><p style="font-size: 10px;">$5000</p><img src="assets/img/airplane.png"></td>
        <td #square19><p style="font-size: 10px;">Calgary</p><p style="font-size: 10px;">$6000</p><div class="tier3"></div></td>
        <td #square20><p style="font-size: 10px;">Chance</p><img src="assets/img/chance.png"></td>
        <td #square21><p style="font-size: 10px;">Edmonton</p><p style="font-size: 10px;">$6500</p><div class="tier3"></div></td>
        <td #square22><p style="font-size: 10px; margin-top: -20px;">GO TO JAIL</p><img src="assets/img/canadiancop.png"></td>
    </tr>
    <tr>
        <td #square13><div><div class="tier5-quebec" style="display: inline-block; margin-bottom:-35px"></div><p style="font-size: 10px; margin-right: 15px;">Quebec City</p><p style="font-size: 10px; margin-right: 15px;">$4000</p></div></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td #square23><div><div class="tier2" style="display: inline-block; margin-bottom:-35px"></div><p style="font-size: 10px; margin-left: 15px;">Ottawa</p><p style="font-size: 10px; margin-left: 15px; ">$7000</p></div></td>
    </tr>
    <tr>
        <td #square12><p style="font-size: 10px;">Chance</p><img src="assets/img/chance.png"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td #square24><div><div class="tier2" style="display: inline-block; margin-bottom:-35px"></div><p style="font-size: 10px; margin-left: 15px;">Toronto</p><p style="font-size: 10px; margin-left: 15px;">$7500</p></div></td>
    </tr>
    <tr>
        <td #square11><p style="font-size: 10px;">Pearson Airport</p><p style="font-size: 10px;">$5000</p><img src="assets/img/airplane.png"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere" style="text-align: center;"><p style="color: red; font-size: 12px; font-weight: 600;">CANADOPOLY</p><img src="assets/img/canadianflag2.png"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td #square25><p style="font-size: 9px;">Vancouver Airport</p><p style="font-size: 10px;">$5000</p><img src="assets/img/airplane.png"></td>
    </tr>
    <tr>
        <td #square10><div><div class="tier6" style="display: inline-block; margin-bottom:-35px"></div><p style="font-size: 10px; margin-right: 15px;">London</p><p style="font-size: 10px; margin-right: 15px;">$3500</p></div></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td #square26><div><div class="tier1" style="display: inline-block; margin-bottom:-35px"></div><p style="font-size: 10px; margin-left: 15px;">Victoria</p><p style="font-size: 10px; margin-left: 15px;">$9000</p></div></td>
    </tr>
    <tr>
        <td #square9><div><div class="tier6" style="display: inline-block; margin-bottom:-35px"></div><p style="font-size: 10px; margin-right: 15px;">Hamilton</p><p style="font-size: 10px; margin-right: 15px;">$3000</p></div></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td class="noSquareHere"></td>
        <td #square27><div><div class="tier1" style="display: inline-block; margin-bottom:-35px"></div><p style="font-size: 10px; margin-left: 15px;">Vancouver</p><p style="font-size: 10px; margin-left: 15px;">$10000</p></div></td>
    </tr>
    <tr>
        <td #square8><img src="assets/img/jail.png"></td><td #square7><div class="tier7"></div><p style="font-size: 10px;">Moncton</p><p style="font-size: 10px;">$2500</p></td><td #square6><div class="tier7"></div><p style="font-size: 10px;">Fredericton</p><p style="font-size: 10px;">$2000</p></td><td #square5><div class="tier7"></div><p style="font-size: 10px;">Halifax</p><p style="font-size: 10px;">$2000</p></td><td #square4><p style="font-size: 10px;">Trudeau Airport</p><p style="font-size: 10px;">$5000</p><img src="assets/img/airplane.png"></td><td #square3><div class="tier8"></div><p style="font-size: 10px;">St. John's</p><p style="font-size: 10px;">$1500</p></td>
        <td #square2><p style="font-size: 10px; margin-top: -10px;">LOCAL TAX</p><img src="assets/img/treasure.png"><p style="font-size: 10px;">$5000</p></td><td #square1><div class="tier8"><div id="pawn" #pawn></div></div><p style="font-size: 10px;">Charlottetown</p><p style="font-size: 10px;">$1500</p></td><td #square0><p style="font-size: 10px; margin-top: -10px;">START</p><img src="assets/img/dollarbill.png"><p style="font-size: 10px;">$5000</p></td>
    </tr>
</table>