    <table mat-table [dataSource]="dataSourcePlayer" style="float:left">
      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef>You give : </th>
        <td mat-cell *matCellDef="let property"> {{property.name}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>           
    </table>
    <p>${{humanPlayer.cashOffer}}</p>
    <table mat-table [dataSource]="dataSourceCPU" style="display: inline-block">
      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef>They give : </th>
        <td mat-cell *matCellDef="let property"> {{property.name}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>           
    </table>
    <p>${{CPUPlayer.cashOffer}}</p>
    <button mat-button color="primary" (click)="acceptDeal()" >Accept</button>
    <button mat-button color="primary" (click)="refuseDeal()" >Refuse</button>


